<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CookBook App</title>
</head>

<body>
    <%- include('./partials/_navbar.ejs') %> <% if (user) { %>
    <h1>Welcome to CookBok <%= user.username %>!</h1>
    <h3>
      <a href="/users/<%=user._id%>/foods">View my Pantry</a>
    </h3>
  <% } else { %>
    <h1>Welcome to the app, guest.</h1>
    <p>
      <a href="/auth/sign-up">Sign up</a> or
      <a href="/auth/sign-in">Sign in</a>.
    </p>
  <% } %>

</body>
</html>